<div id="container">
    <div id="shared-container">
        <div id="user-picture-container">
            <a><img id="user-pic" src="../../../../assets/user-icon.svg" alt="Logo Safra" /></a>
            <p id="greet-message">
                Olá,<br />
                <a href="">Investidor</a>
            </p>
        </div>
        <div id="logo-container">
            <img id="logo" src="../../../../assets/logo-safra-branco.svg" alt="Logo Safra" />
        </div>
    </div>
    <div id="main-section-container">
        <div id="aviso">
            <p style="font-size: 16px;">
                Valor disponível para investimento <strong>R$10.000,00</strong>!<br />
                <br />
            </p>
            <div class="row">
                <div class="col-md-6">
                    <label style="font-size: 16px;">Tempo de Contrato:</label>
                </div>
                <div class="col-md-6">
                    <label style="font-size: 16px;">5 meses</label>
                </div>
            </div>
            <div class="row pt-4">
                <div class="col-md-6">
                    <label style="font-size: 16px;">Taxa Performance se Positivo:</label>
                </div>
                <div class="col-md-6">
                    <label style="font-size: 16px;">25% do que exeder o CDI</label>
                </div>
            </div>
            <div class="row pt-4">
                <div class="col-md-6">
                    <label style="font-size: 16px;">Taxa se Negativo:</label>
                </div>
                <div class="col-md-6">
                    <label style="font-size: 16px;">Regra Poupança 8,5%</label>
                </div>
            </div>
        </div>
        <button id="check-options-btn" type="button" (click)="setStepThird()">Seguinte</button>
        <button id="check-options-btn" type="button" (click)="retornPage1()">Retornar</button>
    </div>
</div>