<div id="container">
    <div id="shared-container">
        <div id="user-picture-container">
            <a><img id="user-pic" src="../../../../assets/user-icon.svg" alt="Logo Safra" /></a>
            <p id="greet-message" style="font-size: 16px;">
                Olá,<br />
                <a href="">Investidor</a>
            </p>
        </div>
        <div id="logo-container">
            <img id="logo" src="../../../../assets/logo-safra-branco.svg" alt="Logo Safra" />
        </div>
    </div>
    <div id="main-section-container">
        <div id="aviso">
            <p style="font-size: 16px;">
                Parabéns <strong>Investidor</strong>!<br />
                <br />
                Existe para você um valor de R$10.0000 já pré-aprovado destinado
                exclusivamente à aplicação no mercado de ações.
            </p>
        </div>
        <button id="check-options-btn" type="button" (click)="setStepSecondary()">Saber mais...</button>
    </div>
</div>