<div id="container">
    <div id="shared-container">
        <div id="user-picture-container">
            <a><img id="user-pic" src="../../../../assets/user-icon.svg" alt="Logo Safra" /> </a>
            <p id="greet-message">
                Olá,<br />
                <a href="">Investidor</a>
            </p>
        </div>
        <div id="logo-container">
            <img id="logo" src="../../../../assets/logo-safra-branco.svg" alt="Logo Safra" />
        </div>
    </div>
    <div id="main-section-container">
        <div id="aviso">
            <p style="font-size: 16px;">
                <span>Transação efetuada com sucesso.<br />

                    Verifique seu e-mail para consultar sua nota de corretagem. </span>
            </p>
        </div>
        <button id="check-options-btn" type="button" (click)="exit()">Sair</button>
        <div id="whatsapp-logo-container">
            <p style="font-size: 16px;">Precisa de consultoria?</p>
            <a href=""><img id="whatsapp-logo" src="../../../../assets/whatsapp-logo.svg" alt="Logo WhatsApp"></a>
        </div>
    </div>
</div>